*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

cspp

data_bags/sandy/*
data_bags/apps/sandy-production.json
data_bags/apps/sandy-staging.json
data_bags/apps/sandy-test.json
!data_bags/sandy/.gitkeep
